body {
  background-color: aquamarine;
}
.item{
  font-family: Roboto;
  font-weight: bold;
}

.ui.button.item {
  padding: 16px;
  font-weight: bold;
  data-position: bottom center;
}

h4 {
  font-font: 14px;
  font-weight: bold;
  padding: 12px;
  font-weight: bold;
}

h3 {
  font-family: Roboto;
}
li {
  list-style-type: none;
}